$mobile-and-tablet: '(max-width: 932px)';

// Mobile & tablet portrait
$mobile-and-tablet-portrait: '(max-width: 768px) and (orientation: portrait)';

// Mobile & tablet landscape
$mobile-and-tablet-landscape: '(max-width: 932px) and (orientation: landscape)';

// Tablet portrait only
$tablet-portrait: '(min-width: 601px) and (max-width: 768px) and (orientation: portrait)';

$big-tablet: '(min-width: 769px) and (max-width: 932px) and (orientation: landscape)';

// Desktop
$desktop: '(min-width: 933px)';

// Large desktop
$desktop-large: '(min-width: 1200px)';
